<!-- <div>welcome</div> -->
<!-- 
<div>b4 v17</div>
<div  appRandomColor *ngFor=" let stu of students ; index as i">
  <span >{{i+1}}. </span>

  <span >{{stu.name}}</span>
  <span [ngStyle]="{'color':stu.mark > 50 ? 'green':'red'}">{{stu.mark}}%</span>

  <span *ngIf="stu.mark <= 50" class="fail">failed</span>
  <span *ngIf="stu.mark > 50" class="pass">passed</span>

</div>


<br>
<br>
<br> -->

<!-- <div>after v17</div>
@for(stu of students ; track stu ; let i = $index){
<div>
    <span>{{i+1}}. </span>

  <span >{{stu.name}}</span>
  <span  [ngStyle]="{'color':stu.mark > 50 ? 'green':'red'}">{{stu.mark}}%</span>
  @if (stu.mark > 50) {
  <span class="pass">passed</span>
  }
  @else {
  <span class="fail">failed</span>
  }

</div>
} -->


<!-- <div style="margin: 40px;">

  <img width="50%" height="50%" id="image" 
  [src]="images[currentindex]" alt="random-image">

  <br>
  <button type="button" id="previous" (click)="Previous()" [disabled]="currentindex===0">Previous</button>
  <button type="button" id="next" (click)="next()" [disabled]="currentindex === images.length -1">Next</button>
</div> -->

<!-- 
<div style="margin: 50px" [formGroup]="form">
<input type="text" formControlName = "name">
<input type="text" formControlName = "phone">


</div>


<div >
<span>{{form.value.name}}
</span>
<br>
<span>{{form.value.phone}}
</span>




</div> -->
<div class="header">
  <h2>Select And Submit To Join One Of
    Our Courses</h2>
  <div class="content">
    <div class="account">
      <span class="account-email">q.irshaid@gmail.com</span>

      <span class="switch-account">
        <a href="https://myaccount.google.com/" target="_blank">Switch Account</a>
      </span>

      <span class="icon">
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </span>
    </div>
    <p class="description" id="description">
      The name, email address and photo associated with your
      Google Account will be recorded when you upload files and
      submit this form
    </p>
  </div>
  <p class="warning">
    * Indicates required question
  </p>
</div>
<!-- ////////////////////////////////////// -->
<form [formGroup]="form">
  <div class="question">
    <div class="title">
      <label for="email">
        Email<span class="required-icon">*</span>
      </label>
    </div>
    <div class="question-input">
      <input id="email" type="email" formControlName="email"
        [class.required-input-warning]="form.get('email')?.invalid && form.get('email')?.touched">

      @if (form.get('email')?.invalid && form.get('email')?.touched) {
      @if (form.get('email')?.errors?.['required']) {

      <div class="invalid-input-massage">
        *email is required
      </div>

      }
      @if (form.get('email')?.errors?.['email']) {

      <div class="invalid-input-massage">
        *email is invalid
      </div>

      }
      }

    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="name">
        Name<span class="required-icon">*</span>
      </label>
    </div>
    <div class="question-input">
      <input id="name" type="text" formControlName="name"
        [class.required-input-warning]="form.get('name')?.invalid && form.get('name')?.touched">

      @if (form.get('name')?.invalid && form.get('name')?.touched) {
      @if (form.get('name')?.errors?.['required']) {

      <div class="invalid-input-massage">
        *name is required
      </div>

      }
      }



    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="number">
        Phone Number<span class="required-icon">*</span>
      </label>
    </div>
    <div class="question-input">
      <input id="number" type="text" formControlName="phone"
        [class.required-input-warning]="form.get('phone')?.invalid && form.get('phone')?.touched">
      @if (form.get('phone')?.invalid && form.get('phone')?.touched) {
      @if (form.get('phone')?.errors?.['required']) {
      <div class="invalid-input-massage">
        *phone is required
      </div>
      }
      @else if (form.get('phone')?.errors?.['minlength']) {
      <div class="invalid-input-massage">
        *phone number must have at least 9 digits
      </div>
      }
      @else if (form.get('phone')?.errors?.['maxlength']) {
      <div class="invalid-input-massage">
        *phone number cannot be more than 10 digits
      </div>
      }
      }

    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="course">
        Course<span class="required-icon">*</span>
      </label>
    </div>
    <div class="question-input">
      <select id="course" formControlName="course"
       [class.required-input-warning]="form.get('course')?.invalid && form.get('course')?.touched">
        @for (course of courses; track course) {

        <option [value]="course.id">{{course.name}}</option>

        }
      </select>
       @if (form.get('course')?.invalid && form.get('course')?.touched) {
      @if (form.get('course')?.errors?.['required']) {
      <div class="invalid-input-massage">
        *course is required
      </div>
      }
    }
    </div>
  </div>

  <div class="action">
    <button type="button" class="submit button" [class.disable-button]="!form.valid"
      [disabled]="!form.valid" (click)="submit()">Submit</button>
    <button type="button" class="reset button" (click)="rest()">Clear Form</button>
  </div>
</form>

<div class="footer">
  <p class="copy-right">This form was created inside Princess Sumaya
    University for
    Technology.
    Does this form look suspicious?
    <a href>Report</a>
  </p>
  <p class="logo">
    Google Forms
  </p>
</div>

<div class="title">
price : {{price | currency : "USD"}}
<br>
date : {{date | date : "dd-MM-yyyy  hh-mm"}}
<br>
revers :{{reversName | reverse}}

</div>
<!-- <div class="container">
            <div class="box">Box 1</div>
            <div class="box">Box 2</div>
            <div class="box">Box 3</div>
        </div> -->